@font-face {
    font-family: Roboto-Slab;
    src: url("../font/RobotoSlab-Regular.ttf");
}

* {
    font-family: Roboto-Slab;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 43, 43);
    height: 13vh;
    align-items: center;
}


nav ul li {
    list-style-type: none;
}

nav .logo {
    display: flex;
    /* align-self: center; */
}

nav .logo ul li {
    font-size: 1.5rem;
    font-weight: 600;
}

nav .logo ul li span {
    border-radius: 5px;
    color: rgb(43, 43, 43);
    padding: 10px 15px;
    background-color: #FFD700;
}


nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
}

nav .menu ul {
    display: flex;
    column-gap: 40px;
}

nav .menu ul li {
    font-size: 1.1rem;
}

nav .menu ul li a {
    color: rgba(255, 255, 255, 0.55);
}

nav .menu ul li a:after {
    content: "";
    position: absolute;
    background-color: #FFD700;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    border-radius: 4px;
    transition: 0.3s;
}

nav .menu ul li a.active:after {
    content: "";
    position: absolute;
    background-color: #FFD700;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    border-radius: 4px;
    transition: 0.3s;
}

nav .menu ul li a:hover {
    color: white;
}

nav .menu ul li a:hover:after {
    width: 100%;
}

/* hero */
#hero {
    height: auto;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hero .content-hero {
    /* background-color: red; */
    width: 95%;
    display: flex;
    justify-content: center;
    /* column-gap: 120px; */
    align-items: center;
}

#hero .desc {
    color: white;
    display: flex;
    flex-direction: column;
}

#hero .desc h1 {
    font-size: 6.3rem;
}

#hero .desc h1 > span {
    color: #FFD700;
}

#hero .desc h3 {
    font-size: 1.7rem;
}

#hero .desc h4 {
    font-size: 1.5rem;
}

#hero .desc p {
    font-size: 1rem;
    margin: 5px 0;
}

#hero button {
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 15px;
    width: 135px;
    margin-top: 15px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #FFD700;
    color: white;
    background-color: transparent;
    transition: all 0.3s ease;
}

#hero button:hover {
    background-color: #FFD700;
    color: rgb(43, 43, 43);
}

#hero .contact {
    margin-top: 70px;
    display: flex;
    column-gap: 35px;
}

#hero .contact .vl {
    border-left: 2px solid #FFD700;
}

#hero .contact > div > p:nth-child(2) {
    margin-top: 5px;
    font-size: 0.85rem;
    color: rgb(200, 200, 200);
}

#hero svg {
    margin-top: -200px;
}

#hero .box-wave {
    background-color: #FFD700;
    height: 100px;
    margin-top: -10px;
}



/* about */
#about {
    height: auto;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
}

#about .container-about {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 70%;
    color: white;
}

#about .container-about .title-about {
    display: flex;
    justify-content: center;
}

#about .container-about .title-about h1 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 5px;
}

#about .container-about .title-about h1 > span {
    color: #FFD700;
}

#about .container-about .title-about hr {
   margin: 0 25%;
}

#about .container-about .content {
    margin-top: 55px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    column-gap: 65px;
}

#about .container-about .pict-about img {
    background-color: #222222;
    padding-top: 10px;
    /* border-radius: 10px; */
    box-shadow: 32px 32px 0px -15px #FFD700;
}

#about .container-about .desc-about .who {
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin-bottom: 25px;
}

#about .container-about .desc-about h1 {
    font-size: 1.8rem;
}

#about .container-about .desc-about p {
    word-spacing: 2px;
}

#about .container-about .desc-about .desc-detail {
    padding: 25px 20px;
    background-color: #222222;
    margin-top: 35px;
    column-gap: 45px;
    display: flex;
    border-radius: 15px;
    /* border: 2px solid #FFD700; */
}

#about .desc-detail > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#about button {
    /* letter-spacing: 1px; */
    cursor: pointer;
    padding: 10px 15px;
    width: auto;
    margin-top: 25px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #FFD700;
    color: white;
    background-color: transparent;
    transition: all 0.3s ease;
}

#about button:hover {
    background-color: #FFD700;
    color: rgb(43, 43, 43);
}

.skills .title-skills {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.skills .title-skills h1 {
    font-size: 1.8rem;
}

.skills .content-skills {
    margin-top: 20px;
    margin-bottom: 35px;
    border-radius: 10px;
    background-color: #222222;
    display: flex;
    height: auto;
}

.skills .content-skills > div {
    width: 50%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.skills .content-skills .skill-box .text {
    display: flex;
    justify-content: space-between;
}

.skills .content-skills progress {
    width: 100%;
    background: white;
}

.skills .content-skills progress::-webkit-progress-value {
    background: #FFD700 !important;
}
.skills .content-skills progress::-webkit-progress-bar {
    background: white !important;
}



/* portfolio */
#portfolio {
    height: auto;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    color: white;
}

#portfolio .container-porto {
    margin-top: 25px;
    margin-bottom: 75px;
    width: 75%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}

#portfolio .container-porto .title-porto {
    display: flex;
    justify-content: center;
}

#portfolio .container-porto .title-porto h1 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 5px;
}

#portfolio .container-porto .title-porto h1 > span {
    color: #FFD700;
}

#portfolio .container-porto .title-porto hr {
   margin: 0 25%;
}

#portfolio .container-porto .content {
    display: flex;
    column-gap: 50px;
}

#portfolio .container-porto .porto-box {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    width: 50%;
    height: auto;
}

#portfolio .container-porto .porto-box a {
    cursor: zoom-in;
}

#portfolio .container-porto .porto-box img {
    margin-top: 20px;
    border-radius: 5px;
}

#portfolio .container-porto .porto-box .desc-porto {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
}

#portfolio .container-porto .desc-porto h2 {
    font-size: 1.3rem;
    color: #FFD700;
}

#portfolio .container-porto .desc-porto p {
    margin-top: 10px;
    font-size: 0.8rem;
    color: rgb(200, 200, 200);
}



/* blog */
#blog {
    height: auto;
    color: white;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
}

#blog .container-blog {
    /* background-color: aqua; */
    width: 80%;
    margin-bottom: 30px;
}

#blog .container-blog .title-blog {
    display: flex;
    justify-content: center;
}

#blog .container-blog .title-blog h1 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 5px;
}

#blog .container-blog .title-blog h1 > span {
    color: #FFD700;
}

#blog .container-blog .title-blog hr {
   margin: 0 25%;
}

#blog .container-blog .content {
    margin-top: 65px;
}

#blog .container-blog .content .title-content {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

#blog .container-blog .content .title-content h1 {
    font-size: 1.8rem;
}

#blog .container-blog .content .desc-content {
    margin-top: 10px;
}

#blog .container-blog .content .blog-content {
    /* background-color: aqua; */
    margin-top: 45px;
    width: 90%;
    row-gap: 70px;
    display: flex;
    flex-direction: column;
}

#blog .container-blog .content .blog-content .content-box {
    display: flex;
    column-gap: 30px;
}

#blog .container-blog .content .blog-content .content-box img {
    border-radius: 10px;
}

#blog .container-blog .content .blog-content .content-detail {
    background-color: #222222;
    padding: 30px 50px;
    border-radius: 10px;
    border: 1px solid #FFD700;
}

#blog .container-blog .content .blog-content .content-box h2 {
    color: #FFD700;
    font-size: 2rem;
    margin-bottom: 15px;
}

#blog .container-blog .content .blog-content .content-box p {
    font-size: 0.9rem;
}









/* footer */
/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70px;
    background-color: #222222;
} */

footer {
    background-color: #222222;
    height: auto;
    display: flex;
    justify-content: center;
}

.footer-container {
    margin-top: 90px;
    margin-bottom: 130px;
    color: white;
    width: 65%;
    display: flex;
    justify-content: center;
    column-gap: 90px;
    list-style-type: none;
}

.footer-container ul {
    list-style-type: none;
}

.footer-container .title-footer {
    width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.footer-container .title-footer h3 {
    cursor: pointer;
    font-size: 1.5rem;
}

.footer-container .title-footer p {
    cursor: pointer;
    font-size: 1rem;
}

.footer-container .about-footer ul {
    flex-direction: column;
    display: flex;
    row-gap: 9px;
}

.footer-container .about-footer .list-footer:first-child {
    font-size: 1.3rem;
    font-weight: 600;
}

.footer-container .about-footer .list-footer:nth-child(2), .list-footer:nth-child(3) {
    cursor: pointer;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
}

.footer-container .porto-footer ul {
    flex-direction: column;
    display: flex;
    row-gap: 9px;
}

.footer-container .porto-footer .list-footer:first-child {
    font-size: 1.3rem;
    font-weight: 600;
}

.footer-container .porto-footer .list-footer:nth-child(2), .list-footer:nth-child(3) {
    cursor: pointer;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
}

.footer-container .blog-footer ul {
    flex-direction: column;
    display: flex;
    row-gap: 9px;
}

.footer-container .blog-footer .list-footer:first-child {
    font-size: 1.3rem;
    font-weight: 600;
}

.footer-container .blog-footer .list-footer:nth-child(2), .list-footer:nth-child(3) {
    cursor: pointer;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
}

.connect {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.connect .sosmed {
    cursor: pointer;
    display: flex;
    column-gap: 13px;
}

.sosmed a {
    text-decoration: none;
    color: white;
}